doctype html
html(lang="en" ng-app="Matsi")
  head
    title Matsi
    include shared/head
  body.gray
    div#page-wrap
      header
        include shared/header
      span(ui-view)
      include shared/footer
