.container(ng-if="currentUser.isAdmin === false " ng-cloak)
  h3 You are not an Administrator.
.container(ng-init="disabled()", ng-if="currentUser.isAdmin === true ")
  h2.light Administrator
  ul.rank
    li
      a(ng-click="modalCreate(sm)") Add Developer Ranks
    li
      a(ng-click="modalPopup(sm)") View Developer Ranks
  input(type="checkbox" checked=mentorCheck ng-click="checkAll()" ng-if="mentors.length > 1" value="Select All")
  .btn.btn-success.enableAll(ng-click="enableAll(mentors)" ng-if="mentors.length > 1") Enable All
  .row
    .col-xs-6.col-sm-3(ng-repeat='mentor in mentors')
      input(type="checkbox" checked=allCheck ng-model="allCheck" ng-click="toggleCheck()")
      a(ng-href='mentors/{{mentor.uid}}')
        .user-wrap
          .profile-pic
            span.f-badge M
            img(ng-src="{{mentor.picture}}")
          .user-name
            h5 {{mentor.fullName}}
            p.text-muted {{mentor.email}}
      .btn.btn-success(ng-click="enable(mentor)") Enable
  h4.no-result(ng-if="mentors.length < 1") There are currently no disabled Mentor

   
