span.glyphicon.glyphicon-remove.pull-right(ng-click="ok()")
h2.text-center Update Developer Rank
section.content
	.container
		.unit-wrap
			.col-md-8(ng-repeat="level in levels")
				.row
					.col-md-4
						.form-group
							input.form-control(type="text" ng-model="level.name")
					.col-md-4
						.form-group
							input.form-control(type="text" ng-model="level.color")
					.col-md-2
						.form-group
							a(ng-click="deleteLevel(level)")
								i.fa.fa-trash.fa-lg
					.col-md-2
						.form-group
							a(ng-click="updateLevel(level)")
								i.fa.fa-pencil-square-o.fa-lg