span.glyphicon.glyphicon-remove.pull-right(ng-click="ok()")
section.content
  .row
    .col-md-4
      .form-group
        input.form-control(type="text", placeholder="enter rank id", ng-model="level.$id")
    .col-md-4
      .form-group
        input.form-control(type="text", placeholder="enter rank name", ng-model="level.name")
    .col-md-4
      .form-group
        input.form-control(type="text", placeholder="enter rank color", ng-model="level.color")
  .btn.btn-default.pull-right(ng-click="createLevel(level)") Add	