span.glyphicon.glyphicon-remove.pull-right(ng-click="ok()")
section.content
  .col-md-8 Are you sure you want delete the user? Click Yes
  .btn.btn-danger.pull-right(ng-click="delete(fellow.uid)") Yes	