section.content.fellows(ng-init="findOne()")
  .container(ng-if="currentUser.uid !== mentor.uid && currentUser")
    h3 please edit your profile 
      a(href="mentors/{{currentUser.uid}}/edit") here 
  .container(ng-if="!currentUser.uid")
    h3 Please login 
  .container(ng-if="mentor.role === '-mentor-'",ng-show="currentUser.uid === mentor.uid")
    h2.light Edit Profile
    hr
    .row
      .col-xs-8.col-xs-offset-2.col-sm-3.col-sm-offset-0
        .unit-wrap
          .profile-pic
            img(ng-src='{{mentor.picture}}')
          .user-name
            h5
              a(href='') {{mentor.fullName}}
            input.form-control(ng-model="mentor.jobTitle" ,placeholder="Enter your Job Title")
      .col-xs-12.col-sm-9
        .unit-wrap.bio
          .user-profile
            h4 Bio
            hr
            textarea.form-control(ng-model='mentor.longBio',placeholder='enter full bio here', rows ='5')
        .unit-wrap.bio
          .user-profile
            h4 Profile Details
            hr
            form(role='form')
              .form-group
                input.form-control(type='text', placeholder='Full Name', ng-model="mentor.fullName")
              .form-group
                label Are you a developer? If yes
                .input-group
                  .input-group-addon https://
                  input.form-control(type='text', placeholder='Please enter your Github URL', ng-model="mentor.gitHubUrl")
                label LinkedIn
                .input-group
                  .input-group-addon https://
                  input.form-control(type='text', placeholder='LinkedIn URL', ng-model="mentor.linkedInUrl")
                label Twitter
                .input-group
                  .input-group-addon @
                  input.form-control(type='text', placeholder='Twitter Handle', ng-model="mentor.twitterHandle")
                label Skype
                .input-group
                  .input-group-addon #
                  input.form-control(type='text', placeholder='Skype Username', ng-model="mentor.Skype")
              .row
                .col-md-4
                  .form-group
                    label Location
                    input.form-control(type='text', ng-model="mentor.location", placeholder='Enter location')
              .row
                .col-md-12
                  hr
                .col-md-4.col-md-offset-8
                  button.btn.btn-primary.btn-block(ng-click="update(mentor)") Save
