.content(ng-if="mentorData.role === '-mentor-'")
	form 
		label(for="fullName") Full Name
		br
		input(type="text" name="fullName" ng-model="mentorData.fullName")
		br
		br
		label(for="Email") Email
		br
		input(type="text" name="Email" ng-model="mentorData.email")
		br
		br
		input(type="checkbox" name="Agree" id="Agree" ng-model="checked" ng-click="toggleCheck()")
		br
		I agree to the Terms and Conditions of this company for mentoring
		br
		br
		label(for="title") Title
		br
		input(type="text" name="title" ng-model="mentorData.Title")
		br
		br
		label(for="shortBio") Short Bio
		br
		input(type="text" name="shortBio" ng-model="mentorData.shortBio")
		br
		br
		label(for="linkedInUrl") LinkedIn URL
		br
		input(type="text" name="linkedInUrl" ng-model="mentorData.linkedInUrl")
		br
		br
		label(for="gitHubUrl") Github URL
		br
		input(type="text" name="gitHubUrl" ng-model="mentorData.gitHubUrl")
		br
		br
		label(for="mentorTwitterHandle") Twitter Handle
		br
		input(type="text" name="mentorTwitterHandle" ng-model="mentorData.twitterHandle")
		br
		br
		label(for="SkypeNumber") Skype Number
		br
		input(type="text" name="SkypeNumber" ng-model="mentorData.Skype")
		br
		br
		label(for="location") Location
		br
		input(type="text" name="location" ng-model="mentorData.location")
		br
		br
		input(type="button" ng-click="submitMentor(mentorData)" value="Update")
