.content(ng-init="findOne()")
.content(ng-if="fellow.role === '-fellow-'")
	br
	h1 Fellow Profile Page
	form
		label(for="fullName") Full Name 
		br
		input(type="text" name="fullName" data-ng-model="fellow.fullName")
		br
		br
		label(for="joinDate") Join Date
		br
		input(type="text" name="joinDate" ng-model="fellow.joinDate")
		br
		br
		label(for="shortBio") Short Bio
		br
		input(type="text" name="shortBio" ng-model="fellow.shortBio")
		br
		br
		label(for="gitHubUrl") Github URL
		br
		input(type="text" name="gitHubUrl" ng-model="fellow.gitHubUrl")
		br
		br
		label(for="longBio") Long Bio (life story and experience so far at Andela at least 700 words)
		br
		input(type="text" name="longBio" ng-model="fellow.longBio")
		br
		br
		label(for="location") Location
		br
		input(type="text" name="location" ng-model="fellow.location")
		br
		br
		label(for="andelaDeveloperRank") Andela Developer Rank
		br
		input(type="text" name="andelaDeveloperRank" ng-model="fellow.andelaDeveloperRank")
		br
		br
		label(for="smartererScores") Smarterer Scores
		br
		input(type="text" name="smartererScores" ng-model="fellow.smartererScores")
		br
		br
		r
		label(for="linkToPlum") Link to Plum public profile and badges
		br
		input(type="text" name="linkToPlum" ng-model="fellow.linkToPlum")
		br
		br
		input(type="submit" name="submit" ng-click="update()")



