section.content.fellows
  .container(ng-init="all()")
    h2.blue.light Fellows at Andela
    hr
    .row
      .col-xs-6.col-sm-3(ng-repeat="fellow in fellows")
        a( ng-href="fellows/{{fellow.uid}}")
          .user-wrap
            .profile-pic
              span.f-badge F
              img(ng-src="{{fellow.picture}}")
            .user-name
              h5
                p.text-muted.text-wrap {{fellow.fullName}}
              p.text-muted.text-wrap {{fellow.joinedDate | date }}
        .btn.btn-danger(ng-click="delete(fellow.uid)" ng-if="currentUser.isAdmin") Delete

