section.content.fellows(ng-init="getAllFellows()")
  .container
    h2.blue.light Fellows at Andela
    hr
    .row
      .col-sm-3(ng-repeat="fellow in allFellows" ng-href="fellowProfile/{{fellow.uid}}")
        .user-wrap
          .profile-pic
            span.f-badge F
            img(ng-src="{{fellow.picture}}")
          .user-name
            h5 {{fellow.fullName}}
            p.text-muted {{fellow.created | date }}
            br
            br

