section.content.fellows
  .container(ng-init="all()")
    h2.blue.light Fellows at Andela
    hr
    .row
      .col-xs-6.col-sm-3(ng-repeat="fellow in fellows")
        a( ng-href="fellows/{{fellow.uid}}")
          .user-wrap
            .profile-pic
              span.f-badge F
              img(ng-src="{{fellow.picture}}")
            .user-name
              h5
                p.text-muted.text-wrap {{fellow.fullName}}
              p.text-muted.text-wrap {{fellow.joinedDate | date }}
        .btn.btn-danger.delete(ng-click="delete(fellow.uid)" ng-if="currentUser.isAdmin") Delete
    nav
      ul.pagination
        li
          a(ng-click="shuffle()")
            span(aria-hidden='true') «
            span.sr-only Previous
        li(ng-repeat="page in pageCount track by $index")
          a(ng-click="navigate($index)" ng-bind="$index + 1")
        li
          a(ng-click="shuffle(true)")
            span(aria-hidden='true') »
            span.sr-only Next

    //- .row
    //-   blockquote 
    //-     span Pages
    //-     md-button.md-raised.md-primary(ng-repeat="page in pageCount track by $index" ng-click="navigate($index)" ng-bind="$index + 1" style="margin:2px 5px;") 

