h1 Welcome to matsi you are a fellow.....
.row(ng-controller="FellowController" )
	.col-md-4
		img(ng-src="{{oneFellowData.picture}}" width="320px" height="320px")
		p Name : {{oneFellowData.fullName}}
input(type="button" value="submit" ng-click="sendMail()")