h1(ng-init="getCurrentFellow()") Welcome to matsi you are a fellow.....
.row
	.col-md-4
		img(ng-src="{{fellowData.picture}}" width="320px" height="320px")
		p Name : {{fellowData.fullName}}
input(type="button" value="Apply to Mentor" ng-click="mentorConstraints()")

