h1(ng-init="getCurrentFellow()") Welcome to matsi you are a fellow.....
.row
	.col-md-4
		img(ng-src="{{fellowData.picture}}" width="320px" height="320px")
		p Name : {{fellowData.fullName}}
<<<<<<< HEAD
input(type="button" value="Apply to Mentor" ng-click="showBox1()")
input(type="text" ng-hide="showMessageBox" ng-model="fellowData.message")
input(type="button" ng-hide="showMessageBox" value="Apply" ng-click="sendMail()")
=======
input(type="button" value="Apply to Mentor" ng-click="mentorConstraints()")

>>>>>>> 0b6148b04e40b4bcd19b32b05aa1425f1b5a92cc
