section.content.fellows(ng-init="findOne()")
  .container(ng-if="fellow.role==='-fellow-'" )
    div.alert.alert-warning.clearfix(role='alert' ng-if="currentUser.uid === fellow.uid")
      span.request-text
        strong Hey!
        |  You have mentor request(s) from ..
      mentor-request(ng-repeat="(mentor_uid,mentor) in fellow.requests")  
    .row
      .col-sm-3
        .user-wrap
          .profile-pic
            span.f-badge.purple F
            img(ng-src="{{fellow.picture}}")
          .user-name
            h5
              p.text-muted {{fellow.fullName}}
            p.text-muted {{fellow.shortBio}}
        .user-wrap.col-lg-12.messageBox(ng-if="currentUser.role === '-mentor-'")
          a.btn.btn-success.btn-block.messageBox.smallTopMargin(ng-click="showBox()" ng-show="showMessageBox")
            span.glyphicon.glyphicon-plus(aria-hidden='true')
            | Send Request
          input(type="text" class="form-control input-lg messageBox smallTopMargin" ng-hide="showMessageBox" ng-model="fellow.message")
          a.btn.btn-success.btn-block.messageBox(ng-hide="showMessageBox" ng-click="mentorConstraints()" ng-disabled="!fellow.message.length")
            span.glyphicon.glyphicon-check(aria-hidden='true')
            | Send Request
      .col-sm-9.col-xs-12
        .unit-wrap.bio
          .user-profile
            h4 Bio
            hr
            p {{fellow.longBio}}
        .unit-wrap.bio
          .user-profile
            h4 Profile Details
            hr
            dl.dl-horizontal
              dt Full Name
              dd {{fellow.fullName}}
            dl.dl-horizontal
              dt Email
              dd {{fellow.email}}
            dl.dl-horizontal
              dt Date Joined
              dd {{fellow.created | date}}
            dl.dl-horizontal
              dt Github
              dd
                a(href='') http://github.com/sam
            dl.dl-horizontal
              dt Location
              dd Lagos, Nigeria
            dl.dl-horizontal
              dt Rank
              dd
                span.label.label-success Ninja
            dl.dl-horizontal
              dt Smarterer score
              dd 200
        .unit-wrap.bio
          .user-profile
            h4 Badges
            hr
            h5
              p.text-muted {{fellow.fullName}}
            p.text-muted Lorem ipsum dolor sit amet
        .unit-wrap.bio(ng-if="currentUser.uid === fellow.uid && fellow.mentors")
          .user-profile
            h4 My Mentors
            hr
            .row
              a.profile-img.col-md-6(ng-repeat ="mentor in fellow.mentors" ng-href="mentors/{{mentor.uid}}")
                  img(src='{{mentor.picture}}', alt='')
                  | {{mentor.fullName}}
