h1 Welcome to matsi you are a fellow.....
.row
	div(class="col-md-4")
		img(ng-src="{{fellowData.picture}}" width="320px" height="320px")
		p Name : {{fellowData.name}}
input(type="button" value="submit" ng-click="sendMail()")