div(ng-init="init()" ng-if="currentUser")
section.content.fellows(ng-init="find()")
  .container(ng-if="fellow.role==='-fellow-'" )
    div.alert.alert-warning.clearfix(role='alert' ng-if="currentUser.uid === fellow.uid && fellow.requests")
      span.request-text
        strong Hey!
        |  You have mentor request(s) from ..
      mentor-request(ng-repeat="(mentor_uid,mentor) in fellow.requests")  
    .row
      .col-sm-3
        .user-wrap
          .profile-pic
            span.f-badge.purple F
            img(ng-src="{{fellow.picture}}")
          .user-name
            h5
              p.text-muted {{fellow.fullName}}
            p.text-muted.text-wrap {{fellow.shortBio}}
        .user-wrap.col-lg-12.messageBox(ng-if="currentUser.role === '-mentor-' && !(fellow.requests[currentUser.uid]) && !(fellow.mentors[currentUser.uid])")
          a.btn.btn-success.btn-block.messageBox.smallTopMargin(ng-click="showBox()" ng-show="showMessageBox")
            span.glyphicon.glyphicon-plus(aria-hidden='true')
            | Send Request
          input(type="text" class="form-control input-lg messageBox smallTopMargin" ng-hide="showMessageBox" ng-model="fellow.message")
          a.btn.btn-success.btn-block.messageBox(ng-hide="showMessageBox" ng-click="mentorConstraints()" ng-disabled="!fellow.message.length")
            span.glyphicon.glyphicon-check(aria-hidden='true')
            | Send Request
        .alert.alert-warning(ng-if="(fellow.requests[currentUser.uid])")
          | You already have a pending request with this fellow!
        .alert.alert-success(ng-if="(fellow.mentors[currentUser.uid])")
          | You are already mentoring this fellow!
      .col-sm-9.col-xs-12
        .unit-wrap.bio
          .user-profile.text-wrap
            h4 Bio
            hr
            p(ng-if="!fellow.longBio") No Bio yet
            p {{fellow.longBio}}
        .unit-wrap.bio
          .user-profile
            h4 Profile Details
            hr
            dl.dl-horizontal
              dt Full Name
              dd {{fellow.fullName}}
            dl.dl-horizontal
              dt Email
              dd {{fellow.email}}
            dl.dl-horizontal(ng-show="fellow.joinedDate") 
              dt Date Joined
              dd {{fellow.joinedDate | date}}
            dl.dl-horizontal(ng-show="fellow.gitHubUrl")
              dt Github
              dd
                a(href='https://github.com/{{fellow.gitHubUrl}}' target="_blank") {{fellow.gitHubUrl}}
            dl.dl-horizontal(ng-show="fellow.location")
              dt Location
              dd {{fellow.location}}
            dl.dl-horizontal(ng-show="fellow.level")
              dt Level
              dd
                span.label.label-success(ng-style="{'background-color': level.color}") {{level.name}}
        .unit-wrap.bio(ng-if="fellow.videoUrl")
          h4 {{fellow.fullName}}'s Story
          .text-center
            video(data-ng-src='{{scePermit(fellow.videoUrl)}}' height='300' width='400' controls)


        .unit-wrap.bio(ng-if="fellow.plumBadges")
          .user-profile
            h4 Plum Profile
            hr
            include includes/plum.jade
        .unit-wrap.bio(ng-if="fellow.badges")
          .user-profile
            h4 Smarterer Badges
            hr
            .row.smarterer(ng-repeat="badge in fellow.badges")
              .col-md-12
                h5
                  span {{badge.quiz.name}}
                  | &nbsp;
                  span.smarterer-score(ng-bind="badge.badge.score")
                md-progress-linear.md-warn(md-mode="buffer" value="{{badge.badge.percentile}}")
        .unit-wrap.bio(ng-if="currentUser.uid === fellow.uid && fellow.mentors")
          .user-profile
            h4 My Mentors
            hr
            .row
              my-connections(info="mentor" ng-repeat= "(user_id,user) in fellow.mentors")
        .row
          .col-md-2.btn.btn-danger.delete.pull-right(ng-click="confirmation(sm)" ng-if="currentUser.isAdmin") Delete User

