h1 All fellows page......
a(ng-repeat="fellow in allFellows" ng-href="fellowProfile/{{fellow.uid}}")
	img(ng-src="{{fellow.picture}}")
	p {{fellow.name}}
	br
	p {{fellow.fullName}}
	br
	p {{fellow.created | date }}
	br
	br