section.content.fellows
  .container(ng-init="all()")
    h2.blue.light Fellows at Andela
    hr
    .row
      a(ng-repeat="fellow in fellows" ng-href="fellows/{{fellow.uid}}")
        .col-sm-3
          .user-wrap
            .profile-pic
              span.f-badge F
              img(ng-src="{{fellow.picture}}")
            .user-name
              h5
                p.text-muted {{fellow.fullName}}
              p.text-muted {{fellow.created | date }}

