#page-wrap
  nav.navbar.navbar-static-top(role='navigation')
    .container
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='#') Matsi
      .collapse.navbar-collapse.navbar-right.navbar-ex1-collapse
        ul.nav.navbar-nav
          li
            a(href='mentors') View Mentors
          li
            a(href='fellows') View Fellows
          li
            a(href='myProfile') My Profile
          li
            a.bdr(href='#', data-toggle='modal', data-target='#myModal') Sign In
  section.banner
  .container
    .caption
      h3 Bring the world’s brightest minds to your team.
      p
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, quisquam hic soluta delectus ad vel eum autem distinctio quo deserunt incidunt. Magnam nesciunt quisquam odio commodi doloremque molestiae impedit, eius.
  section.features
  .container
    h3.text-center.red Features
    p.text-muted.text-center
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      br
      | Velit quia, maiores ipsum recusandae..
    hr
    br
    .row
      .col-md-4
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. In quam facere amet quas inventore. Ab adipisci minima officia provident quaerat magnam aspernatur ratione, repellendus repudiandae necessitatibus explicabo sed beatae enim.
      .col-md-4
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem molestiae, laborum! Consequatur autem optio explicabo nisi architecto ipsum, sit quod officia, iusto voluptatibus beatae ea facere omnis ducimus, quas tenetur.
      .col-md-4
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem molestiae, laborum! Consequatur autem optio explicabo nisi architecto ipsum, sit quod officia, iusto voluptatibus beatae ea facere omnis ducimus, quas tenetur.
  section.features.alt
  .container
    h3.text-center.blue Some title
    p.text-muted.text-center
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit quia, maiores ipsum recusandae..
    br
    .row
      .col-md-6
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. In quam facere amet quas inventore. Ab adipisci minima officia provident quaerat magnam aspernatur ratione, repellendus repudiandae necessitatibus explicabo sed beatae enim.
      .col-md-6
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem molestiae, laborum! Consequatur autem optio explicabo nisi architecto ipsum, sit quod officia, iusto voluptatibus beatae ea facere omnis ducimus, quas tenetur.
    .row
      .col-md-6
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. In quam facere amet quas inventore. Ab adipisci minima officia provident quaerat magnam aspernatur ratione, repellendus repudiandae necessitatibus explicabo sed beatae enim.
      .col-md-6
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem molestiae, laborum! Consequatur autem optio explicabo nisi architecto ipsum, sit quod officia, iusto voluptatibus beatae ea facere omnis ducimus, quas tenetur.

      