section.banner
  .container
    .caption
      h3 Bring the world’s brightest minds to your team.
      p
        | Andela is a global talent accelerator that produces world-class developers and connect them with top employers in the tech world.
section.features
  .container
    h3.text-center.red Our Fellows
    p.text-muted.text-center
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      br
      | Velit quia, maiores ipsum recusandae..
    hr
    br
    .row(ng-controller="FellowCtrl" ng-init="all()")
        .col-xs-6.col-sm-3(ng-repeat='fellow in fellows | limitTo:4')
          a(ng-href='fellows/{{fellow.uid}}')
            .user-wrap
              .profile-pic
                  img(ng-src="{{fellow.picture}}")
                  .user-name
                    h5 {{fellow.fullName}}
    a(class="viewMore" ng-href="fellows") View more Fellows >>
section.features.alt
  .container
    h3.text-center.blue Some title
    p.text-muted.text-center
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit quia, maiores ipsum recusandae..
    br
    .row
      .col-md-6
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. In quam facere amet quas inventore. Ab adipisci minima officia provident quaerat magnam aspernatur ratione, repellendus repudiandae necessitatibus explicabo sed beatae enim.
      .col-md-6
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem molestiae, laborum! Consequatur autem optio explicabo nisi architecto ipsum, sit quod officia, iusto voluptatibus beatae ea facere omnis ducimus, quas tenetur.
    .row
      .col-md-6
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. In quam facere amet quas inventore. Ab adipisci minima officia provident quaerat magnam aspernatur ratione, repellendus repudiandae necessitatibus explicabo sed beatae enim.
      .col-md-6
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem molestiae, laborum! Consequatur autem optio explicabo nisi architecto ipsum, sit quod officia, iusto voluptatibus beatae ea facere omnis ducimus, quas tenetur.


