section.banner
  .container
    .caption
      h3 Who we are.
      p
        | Andela is Africa’s first tech talent accelerator. We train world-class Software Developers and place them on long-term contracts as remote team members for employers around the globe. Our four-year paid fellowship program is a power alternative approach to broken and outdated educational models. Our goal is to train 100 thousand young Africans in the next decade.
section.features
  .container
    h3.text-center.red Our Fellows
    h5.text-muted.text-center
      | No comparison.
      br
    p.text-muted.text-center    
      | Andela fellows are some of the smartest and most intense young software developers that you’ll ever meet. We believe their passion, work ethic and thirst for knowledge is unmatched anywhere else in the world.
    hr
    br
    .row(ng-controller="FellowCtrl" ng-init="all()")
        .col-xs-6.col-sm-3(ng-repeat='fellow in fellows | limitTo:4')
          a(ng-href='fellows/{{fellow.uid}}')
            .user-wrap
              .profile-pic
                  img(ng-src="{{fellow.picture}}")
                  .user-name
                    h5 {{fellow.fullName}}
    a(class="viewMore" ng-href="fellows") View more Fellows >>
section.features.alt
  .container
    h3.text-center.blue Your role as a volunteer mentor
    br
    .row
      .col-md-6
        p
          | We are recruiting experienced software professionals (of all types, not just programmers) to volunteer as mentors for our young superstars. We want them to each have at least a few external role models, who can provide unbiased career advise, second opinions on issues that may crop up, congratulations when deserved, and a virtual shoulder to cry on when times are bad. Fellows are expected to devote at least 30-60 minutes per week communicating with each of their mentors.
      .col-md-6
        p
          | Andela takes this program very seriously. Our volunteer mentors are screened for industry experience, as well as compatibility with our values and social mission.
          br
        p
          | Want to apply as a mentor? Sign in now with your Google Account to get the ball rolling. If accepted, you’ll claim an important role in the biggest technology revolution ever launched in Africa, if not the world.
section.features
  .container
    h3.text-center.red How it works
    br
    p.text-muted
      | Andela only recruits young talent that scores at the highest percentiles of problem solving aptitude, intellectual/experiential disposition and other personality factors. We then verify their worthiness for the Andela 4-year fellowship via an elite five month training regimen that leaves them prepared to tackle web and mobile software development using the latest open-source and agile techniques.
    p.text-muted
      | During training, every element of professional development is also covered, from typing speed to verbal and spoken business English. Once they are ready to work with our partners, Andela developers are place as full-time, remote staff members for great companies around the globe.   

