form
	label(for="fullName") Full Name 
	{{}}
	br
	input(type="text" name="fullName")
	br
	br
	label(for="joinDate") Join Date
	br
	input(type="text" name="joinDate")
	br
	br
	label(for="shortBio") Short Bio
	br
	input(type="text" name="shortBio")
	br
	br
	label(for="gitHubUrl") Github URL
	br
	input(type="text" name="gitHubUrl")
	br
	br
	label(for="longBio") Long Bio (life story and experience so far at Andela at least 700 words)
	br
	input(type="text" name="longBio")
	br
	br
	label(for="location") Location
	br
	input(type="text" name="location")
	br
	br
	label(for="andelaDeveloperRank") Andela Developer Rank
	br
	input(type="text" name="andelaDeveloperRank")
	br
	br
	label(for="smartererScores") Smarterer Scores
	br
	input(type="text" name="smartererScores")
	br
	br
	r
	label(for="linkToPlum") Link to Plum public profile and badges
	br
	input(type="text" name="linkToPlum")
	br
	br
