section.content.log(ng-controller="FellowCtrl")
  .container(ng-if="currentUser.isAdmin === true ")
    .unit-wrap.log
      label Click to see log by date
      .row
        .col-md-4
          .input-group
            input.form-control.ui-datepicker(type='text', data-ng-model="date", datepicker-popup='{{format}}', is-open='$parent.opened', min-date='"2014-03-01"', max-date='minDate', datepicker-options='dateOptions', date-disabled='disabled(date, mode)', close-text='Close')
            span.input-group-btn
              button.btn.btn-default(type='button', ng-click='open($event)')
                i.glyphicon.glyphicon-calendar 
        .input-group
          button.btn.btn-default(type='button', ng-click="allLogs(date)") Search               
      ul.log
        li
          a(ng-click="allMentored()") View all Mentored Fellows
        li
          a(ng-click="allUnMentored()") View all unMentored Fellows
        li
          a(ng-click="allLogs()" ng-if="showLog") View all activity    
      .container(ng-init="allLogs()" ng-hide="showFellows || showFellows1")
        h4 Activity Log
        .col-md-9.activity-log(ng-repeat="log in logs")
          i(ng-class="log.icon")
          span.log {{log.value}} on {{log.timestamp | date}}
      .row(ng-if="showFellows")
        .col-xs-6.col-sm-3(ng-repeat='fellow in fellows')
          a(ng-href='fellows/{{fellow.uid}}')
            .user-wrap
              .profile-pic
                span.f-badge F
                img(ng-src="{{fellow.picture}}")
              .user-name
                h5 {{fellow.fullName}}
                p.text-muted {{fellow.email}}
        h4.no-result(ng-if="fellows.length < 1") There are currently no Mentored fellows
      .row(ng-if="showFellows1")
        .col-xs-6.col-sm-3(ng-repeat='fellow in fellows1')
          a(ng-href='fellows/{{fellow.uid}}')
            .user-wrap
              .profile-pic
                span.f-badge F
                img(ng-src="{{fellow.picture}}")
              .user-name
                h5 {{fellow.fullName}}
                p.text-muted {{fellow.email}}
        h4.no-result(ng-if="fellows1.length < 1") There are currently no UnMentored fellows