p {{mentor.fullName}} {{mentor.email}}
p(ng-show="mentor.uid")
	input(type="button" value="Accept Request" ng-click="accept()")
	input(type="button" value="Reject Request" ng-click="showBox()")
div(ng-show="showMessageBox")
	input(type="text" class="messageBox"  ng-model="mentor.message")
	input(type="button" value="Submit" ng-click="reject()")