section.content.mentors(ng-init="find()")
  .container
    .row
      .col-sm-2.mentor-img
        img(ng-src="{{mentor.picture}}")
      .col-md-6
        .mentor-info
          h3 {{mentor.fullName}}
          br
          h3 {{mentor.jobTitle}}
section.content.fellows
  .container
    .row
      col-sm-12              
        .unit-wrap.bio
          .user-profile
            h4 Bio
            hr
            p {{mentor.longBio}}
        .unit-wrap.bio
          .user-profile
            h4 Profile Details
            hr
            dl.dl-horizontal
              dt Full Name
              dd {{mentor.fullName}}
            dl.dl-horizontal
              dt Email
              dd {{mentor.email}}
            dl.dl-horizontal
              dt Date Joined
              dd {{mentor.created | date}}
            dl.dl-horizontal(ng-show = "mentor.gitHubUrl")
              dt Github
              dd
                a(ng-href='http://{{mentor.gitHubUrl}}') {{mentor.gitHubUrl}}
            dl.dl-horizontal(ng-show = "mentor.location")
              dt Location
              dd {{mentor.location}}
            dl.dl-horizontal(ng-show = "mentor.linkedInUrl")
              dt LinkedIn
              dd
                a(ng-href='http://{{mentor.linkedInUrl}}') {{mentor.linkedInUrl}}
            dl.dl-horizontal(ng-show = "mentor.twitterHandle")
              dt Twitter
              dd {{mentor.twitterHandle}}
            dl.dl-horizontal(ng-show = "mentor.Skype")
              dt Skype
              dd {{mentor.Skype}}
        .user-wrap.bio(ng-if="currentUser.uid === mentor.uid && mentor.fellows")
          h4 My Fellows
          hr
          .row
            my-connections(info="fellow" ng-repeat ="(user_id, user) in mentor.fellows")
        .row
          .col-md-2.btn.btn-danger.delete.pull-right(ng-click="confirmation(sm)" ng-if="currentUser.isAdmin") Delete User
