.container(ng-init="all()")
  h2.light Mentors at Andela
  hr
  .row
    .col-xs-6.col-sm-3(ng-if="mentors", ng-repeat='mentor in mentors')
      a(ng-href='mentors/{{mentor.uid}}')
        .user-wrap
          .profile-pic
            span.f-badge M
            img(ng-src="{{mentor.picture}}")
          .user-name
            h5.text-wrap {{mentor.fullName}}
            p.text-muted.text-wrap {{mentor.email}}
      .btn.btn-danger.delete(ng-click="delete(mentor.uid)" ng-if="currentUser.isAdmin") Delete      
  nav
    ul.pagination
      li
        a(ng-click="shuffle()")
          span(aria-hidden='true') «
          span.sr-only Previous
      li(ng-repeat="page in pageCount track by $index")
        a(ng-click="navigate($index)" ng-bind="$index + 1")
      li
        a(ng-click="shuffle(true)")
          span(aria-hidden='true') »
          span.sr-only Next