section.content.fellows(ng-init="findOne()")
  .container
    .row
      .col-sm-3
        .user-wrap
          .profile-pic
            span.f-badge.purple M
            img(ng-src='{{mentor.picture}}')
          .user-name
            h5
              a(href='') {{mentor.fullName}}
            p.text-muted Lorem ipsum dolor sit amet
      .col-sm-9
        .user-wrap.bio
          .user-profile
            h4 Bio
            hr
            p {{mentor.shortBio}}
        .user-wrap.bio
          .user-profile
            h4 Profile Details
            hr
            dl.dl-horizontal
              dt Full Name
              dd {{mentor.fullName}}
            dl.dl-horizontal
              dt Email
              dd {{mentor.email}}
            dl.dl-horizontal
              dt Date Joined
              dd {{mentor.created}}
            dl.dl-horizontal
              dt Github
              dd
                a(ng-href='{{mentor.gitHubUrl}}') {{mentor.gitHubUrl}}
            dl.dl-horizontal
              dt Location
              dd {{mentor.location}}
            dl.dl-horizontal
              dt LinkedIn
              dd
                a(ng-href='{{mentor.linkedInUrl}}') {{mentor.linkedInUrl}}
            dl.dl-horizontal
              dt Twitter
              dd {{mentor.twitterHandle}}
            dl.dl-horizontal
              dt Skype
              dd {{mentor.Skype}}
        .user-wrap.bio(ng-if="currentUser.uid === mentor.uid && mentor.fellows")
          .user-profile(ng-if='toggle')
            h4 My Fellows
            hr
            a.profile-img(ng-repeat ="fellow in mentor.fellows" ng-href="fellows/{{fellow.uid}}")
              img(src='{{fellow.picture}}', alt='')
              | {{fellow.fullName}}
