section.content.mentors(ng-init="findOne()")
  .container
    .row
      .col-sm-2.mentor-img
        img(ng-src="{{mentor.picture}}")
      .col-md-6
        .mentor-info
          h3 {{mentor.fullName}}
section.content.fellows
  .container
    .row
      col-sm-12              
        .unit-wrap.bio
          .user-profile
            h4 Bio
            hr
            p {{mentor.longBio}}
        .unit-wrap.bio
          .user-profile
            h4 Profile Details
            hr
            dl.dl-horizontal
              dt Full Name
              dd {{mentor.fullName}}
            dl.dl-horizontal
              dt Email
              dd {{mentor.email}}
            dl.dl-horizontal
              dt Date Joined
              dd {{mentor.created | date}}
            dl.dl-horizontal
              dt Github
              dd
                a(ng-href='http://{{mentor.gitHubUrl}}') {{mentor.gitHubUrl}}
            dl.dl-horizontal
              dt Location
              dd {{mentor.location}}
            dl.dl-horizontal
              dt LinkedIn
              dd
                a(ng-href='http://{{mentor.linkedInUrl}}') {{mentor.linkedInUrl}}
            dl.dl-horizontal
              dt Twitter
              dd {{mentor.twitterHandle}}
            dl.dl-horizontal
              dt Skype
              dd {{mentor.Skype}}
        .user-wrap.bio(ng-if="currentUser.uid === mentor.uid && mentor.fellows")
          h4 My Fellows
          hr
          .row
            a.profile-img.col-md-6(ng-repeat ="fellow in mentor.fellows" ng-href="fellows/{{fellow.uid}}")
                img(src='{{fellow.picture}}', alt='')
                | {{fellow.fullName}}




