h5 {{mentor.fullName}}
p(ng-show="mentor.uid")
    a.btn.btn-success(ng-click="openToast(ev)")
        span.glyphicon.glyphicon-check(aria-hidden='true')
        | Accept Request
    a.btn.btn-danger(ng-click="showBox()" ng-hide="showMessageBox")
        span.glyphicon.glyphicon-minus(aria-hidden='true')
        | Reject Request
div(ng-show="showMessageBox")
    input(type="text" class="messageBox form-control input-lg" placeholder="Why are you rejecting this mentor?" ng-model="mentor.message")
    a.btn.btn-danger.btn-block(ng-click="reject()")
        span.glyphicon.glyphicon-minus(aria-hidden='true')
        | Reject
