h1 Welcome to matsi.....myProfile
p {{fellowData}}
.row(ng-controller="FellowController" ng-init="getCurrentFellow()")
	div(ng-if="fellowData.role==='-fellow-'")
		div(class="col-md-4")
			img(ng-src="{{fellowData.picture}}" width="320px" height="320px")
			p Name : {{fellowData.fullName}}
			p You have a mentor request from :
			mentor-request(ng-repeat="(mentor_uid,mentor) in fellowData.requests")
br
br
br
br
br

.row(ng-controller="MentorController")
	div(ng-if="mentorData.role==='-mentor-'")
		div(class="col-md-4")
			img(ng-src="{{mentorData.picture}}" width="320px" height="320px")
			p Name : {{mentorData.fullName}}