h1 Welcome to matsi you are a fellow.....

.row(ng-controller="FellowController" )
	div(ng-if="fellowData.role==='-fellow-'")
		div(class="col-md-4")
			img(ng-src="{{fellowData.picture}}" width="320px" height="320px")
			p Name : {{fellowData.fullName}}
			p You have a mentor request from : 
			div(ng-repeat="requests in oneFellowData.request")
				p {{requests.fullName}} {{requests.email}}
br
br
br
br
br

.row(ng-controller="MentorController")
	div(ng-if="mentorData.role==='-mentor-'")
		div(class="col-md-4")
			img(ng-src="{{mentorData.picture}}" width="320px" height="320px")
			p Name : {{mentorData.fullName}}