md-dialog(ng-controller="DialogCtrl")
  md-content
    md-subheader Andela Terms and Conditions
    p Andela will not pay any mentor, It's a voluntary position. During the period a mentor is signed up with andela
    p Andela reserves the right to evaluate a mentor's impact on its fellows and therefore reserves the right to terminate a mentor's account.
    p If you are satisfied with the conditions, click 'I Agree'
  div.md-actions   
    md-button(ng-click="answer('Agree')") I Agree   