div(ng-repeat = "mentor in mentors")
  img(ng-src="{{mentor.picture}}")
  h2 {{mentor.name}}
  h2 {{mentor.email}}
  h2 {{mentor.Title}}
  h2 {{mentor.shortBio}}
  h2 {{mentor.linkedInUrl}}
  h2 {{mentor.gitHubUrl}}
  h2 {{mentor.twitterHandle}}
  h2 {{mentor.Skype}}
  h2 {{mentor.location}}
  label(for="isAvailable") Status
  input(type="button" ng-disabled="true" name="isAvailable" value="Available")
