h2 {{OneMentorData.Title}} {{OnementorData.firstName}} 
br
h3 {{OneMentorData.email}}
br
h3 {{OneMentorData.shortBio}}
br
h3 {{OneMentorData.linkedInUrl}}
br
h3 {{OneMentorData.gitHubUrl}}
br
h3 {{OneMentorData.twitterHandle}}
br
h3 {{OneMentorData.Skype}}
h3 {{OneMentorData.location}}