.container
  h2.blue.light Mentors at Andela
  hr
  .row
    a(ng-repeat = "mentor in mentors" ng-href="mentors/{{mentor.uid}}")
      .col-sm-3
        .user-wrap
          .profile-pic
            span.f-badge F
            img(ng-src="{{mentor.picture}}")
          .user-name
            h5 {{mentor.fullName}}
            p.text-muted {{mentor.email}}
            br
            br