h2 {{mentorData.Title}} {{mentorData.firstName}}
br
h3 {{mentorDate.email}}
br
h3 {{mentorData.shortBio}}
br
h3 {{mentorData.linkedInUrl}}
br
h3 {{mentorData.gitHubUrl}}
br
h3 {{mentorData.twitterHandle}}
br
h3 {{mentorData.Skype}}
h3 {{mentorData.location}}