.footer-clear
footer
  .container
    .row
      .col-md-8
        ul.list-inline
          li
            a(href='/') Home
          li.footer-menu-divider ⋅
          li
            a(href='/mentors') Mentors
          li.footer-menu-divider ⋅
          li
            a(href='/fellows') Fellows
      .col-md-4.text-right
        ul.list-inline
          li
            a(href='') © 2014 Matsi
