.footer-clear
footer
  .container
    .row
      .col-md-8
        ul.list-inline
          li
            a(href='/') Home
          li.footer-menu-divider ⋅
          li
            a(href='/mentors') Mentors
          li.footer-menu-divider ⋅
          li
            a(href='/fellows') Fellows
      .col-md-4.text-right
        ul.list-inline
          li
            a(href='') © 2014 Matsi
script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
script(type='text/javascript', src="/lib/bootstrap/dist/js/bootstrap.min.js")
