meta(name='HandheldFriendly' content='True')
meta(name='MobileOptimized' content='320')
meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')

base(href="/")
// CDN provided
link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" type="text/css")

//build:css /dist/style.css
link(rel="stylesheet" href="/lib/angular-material/angular-material.css" type="text/css")
link(rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" type="text/css")

link(rel="stylesheet" href="/css/application.css" type="text/css")
// endbuild

// build:js /dist/lib.js
script(type="text/javascript" src="/lib/lodash/lodash.min.js")
script(type="text/javascript" src="/lib/moment/min/moment.min.js")
script(type="text/javascript" src="/lib/ng-file-upload/angular-file-upload-shim.min.js")  
script(type="text/javascript" src="/lib/angular/angular.min.js")
script(type="text/javascript" src="/lib/ng-file-upload/angular-file-upload.min.js")
script(type="text/javascript" src="/lib/angular-animate/angular-animate.min.js")
script(type="text/javascript" src="/lib/angular-aria/angular-aria.min.js")
script(type="text/javascript" src="/lib/angular-bootstrap/ui-bootstrap-tpls.min.js")  
script(type="text/javascript" src="/lib/angular-ui-router/release/angular-ui-router.min.js")
script(type="text/javascript" src="/lib/angular-cookies/angular-cookies.min.js")
script(type="text/javascript" src="/lib/hammerjs/hammer.min.js")
script(type="text/javascript" src="/lib/angular-material/angular-material.min.js")
script(type="text/javascript" src="/lib/angular-sanitize/angular-sanitize.min.js")
script(type="text/javascript" src="/lib/firebase/firebase.js")
script(type="text/javascript" src="/lib/angularfire/dist/angularfire.min.js")
 
// endbuild

script(type="text/javascript" src="/js/index.js")
