meta(name='HandheldFriendly' content='True')
meta(name='MobileOptimized' content='320')
meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')

base(href="/")

// CDN provided
link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" type="text/css")

//build:css /dist/style.css
link(rel="stylesheet" href="/lib/angular-material/angular-material.css" type="text/css")
link(rel="stylesheet" href="/css/application.css" type="text/css")
// endbuild

// build:js /dist/lib.js
script(type="text/javascript" src="/lib/lodash/dist/lodash.js")
script(type="text/javascript" src="/lib/moment/moment.js")
script(type="text/javascript" src="/lib/angular/angular.js")
script(type="text/javascript" src="/lib/angular-animate/angular-animate.js")
script(type="text/javascript" src="/lib/angular-aria/angular-aria.js")
script(type="text/javascript" src="/lib/angular-ui-router/release/angular-ui-router.min.js")
script(type="text/javascript" src="/lib/angular-cookies/angular-cookies.js")
script(type="text/javascript" src="/lib/hammerjs/hammer.js")
script(type="text/javascript" src="/lib/angular-material/angular-material.js")
script(type="text/javascript" src="/lib/firebase/firebase.js")
script(type="text/javascript" src="/lib/angularfire/dist/angularfire.js")
script(type="text/javascript" src="/")
// endbuild

script(type="text/javascript" src="/js/index.js")
