section.content.fellows(ng-controller="MentorController")
  .container(ng-init="findOne()")
    .row
      .col-sm-3
        .user-wrap
          .profile-pic
            span.f-badge.purple F
            img(ng-src="{{mentor.picture}}")
          .user-name
            h5
              p.text-muted {{mentor.fullName}}
            p.text-muted Lorem ipsum dolor sit amet
      .col-sm-9
        .user-wrap.bio
          .user-profile
            h4 Bio
            hr
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas aut eligendi fugit, dolores tempore modi consectetur asperiores quo fugiat alias porro delectus saepe unde explicabo omnis mollitia ducimus minima, perspiciatis!
        .user-wrap.bio
          .user-profile
            h4 Profile Details
            hr
            dl.dl-horizontal
              dt Full Name
              dd {{mentor.fullName}}
            dl.dl-horizontal
              dt Email
              dd {{mentor.email}}
            dl.dl-horizontal
              dt Date Joined
              dd {{mentor.created | date}}
            dl.dl-horizontal
              dt Github
              dd
                a(href='') http://github.com/sam
            dl.dl-horizontal
              dt Location
              dd Lagos, Nigeria
            dl.dl-horizontal
              dt Rank
              dd
                span.label.label-success Ninja
            dl.dl-horizontal
              dt Smarterer score
              dd 200
        .user-wrap.bio
          .user-profile
            h4 Badges
            hr
            h5
              p.text-muted {{mentor.fullName}}
            p.text-muted Lorem ipsum dolor sit amet